//FONT INSTALL
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

//COLOR VARIABLES
$blue: #364BA7;
$pink: #F583A7;

//FONT WEIGHTS
$font-weights:(
	"regular": 400,
	"bold": 700
); 

@function weight($weight){
	@return map-get($font-weights, $weight);
}

//MEDIA QUERIES
@mixin desktop-screen {
    @media (min-width: 768px) { @content }
}

//FONT FAMILY
@mixin headingFont ($size){
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: $size;
    line-height: 66px;
    text-align: center;
    color: $blue;
}

@mixin paragraphFont ($size){
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: $size;
    line-height: 56px;
    text-align: center;
    color: $pink;
}

@mixin buttonFont ($size){
    cursor: pointer;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: $size;
    line-height: 42px;
    text-align: center;
    color: #F583A7;
}

h1 {
    @include headingFont(46px);
    @include desktop-screen {
        @include headingFont(56px);
       
    }
}

p {
    @include paragraphFont(38px);
    @include desktop-screen {
        @include paragraphFont(48px);

    }
}

button {
    @include buttonFont(30px);
    @include desktop-screen {
        @include buttonFont(36px);

    }
}

//CSS RESET
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}

a {
    text-decoration: none; /* no underline */
}

//CONTAINER SETTINGS
.container {
    max-width: 1009px;
    margin: 0 auto;
}


